.text-rojo {
    color: #D62F46 !important;
}

.bg-rojo {
    background-color: #D62F46 !important;
}

.btn-rojo {
    background-color: #D62F46;
    color: white;
    transition: 0.3s;
}

    .btn-rojo:hover {
        background-color: #800020;
        color: white;
        transform: translateY(-2px);
    }

.border-rojo {
    border-color: #D62F46 !important;
}

.bg-soft-rojo {
    background-color: rgba(128, 0, 32, 0.1);
}

.card {
    border-radius: 12px;
}

.breadcrumb-item.active {
    color: #D62F46;
}
