

.text-rojo {
    color: #D62F46;
}

.bg-rojo {
    background-color: #D62F46;
}

.btn-rojo {
    background-color: #D62F46;
    color: white;
    border: none;
    transition: 0.3s;
}

    .btn-rojo:hover {
        background-color: #D62F46;
        color: white;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }

.border-dashed {
    border-style: dashed !important;
}

.badge {
    font-weight: 500;
}

.bg-gris {
    background-color: #D0CFCA;
}