.text-rojo {
    color: #D62F46;
}

.btn-rojo {
    background-color: #D62F46;
    color: white;
    border: none;
    transition: 0.3s;
}

    .btn-rojo:hover {
        background-color: #D62F46;
        transform: translateY(-2px);
        color: white;
    }

.custom-input {
    border-radius: 8px;
    border: 1px solid #dee2e6;
    padding: 0.6rem;
    font-size: 0.9rem;
}

    .custom-input:focus {
        border-color: #D62F46;
        box-shadow: 0 0 0 0.2rem rgba(108, 29, 29, 0.15);
    }

.tipo-item {
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}

    .tipo-item.active {
        background-color: rgba(108, 29, 29, 0.08);
        border-color: #D62F46;
    }

.role-card {
    background-color: #fcfcfc;
    border: 2px solid #f0f0f0;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
}

    .role-card:hover {
        border-color: #800020;
    }

    .role-card.active {
        background-color: white;
        border-color: #D62F46;
        box-shadow: 0 4px 10px rgba(108, 29, 29, 0.1);
    }

.role-name {
    color: #444;
}

.role-card.active .role-name {
    color: #000000;
}

.role-desc {
    font-size: 0.68rem;
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
