.text-rojo {
    color: #D62F46;
}

.btn-rojo {
    background-color: #D62F46;
    color: white;
    border: none;
    transition: 0.3s;
}

    .btn-rojo:hover {
        background-color: #D62F46;
        transform: translateY(-2px);
        color: white;
    }
