.cliente-page {
    padding: 1rem;
}

.text-negro {
    color: #000000;
}
.btn-rojo {
    background-color: #D62F46;
    color: white;
}
/*.table thead {
    color: #D62F46 !important;
}*/
.text-negro{
    color:#000;
}
.text-rojo{
    color: #D62F46;
}
